[submodule "SoftwareBuilder/vendor/spdlog"]
	path = SoftwareBuilder/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "SoftwareBuilder/vendor/GLFW"]
	path = SoftwareBuilder/vendor/GLFW
	url = https://github.com/ilexl/glfw
